<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
            <Format>cobertura</Format>
			<Exclude>[*.Test]*, [*.Tests]*, [*.Common]*, [*.EventBus]*,[*.Infra.Migrations]*,[*.Mappings]*,[*.Dtos]*,[*.Queries.*]*</Exclude>			
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>